.section-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 80vh;
    padding: 2rem;
    align-items: stretch;
    justify-content: space-around;
    background-color: white;
}
@media (max-width: 767px) {
    .section-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.search-bar{
    display: flex;
    position: fixed;
    margin-top: 50px;
    margin-left: 1050px;
    font-size: 20px;
    z-index: 1000;
}
@media (max-width: 767px){
    .search-bar{
        width: 90%;
        top: 100px;
        left: -112%;
    }
}

.support{
    display: flex;
    position: fixed;
    width: 70px;
    height: 70px;
    top: 730px;
    left: 1600px;
}

.notification{
    display: flex;
    position: fixed;
    width: 28px;
    height: 28px;
    top: 720px;
    left: 1590px;
}