.section-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 80vh;
    padding: 2rem;
    align-items: stretch;
    justify-content: space-around;
    background-color: white;
    gap: 50px;
}

.search-bar{
    display: flex;
    position: fixed;
    margin-top: 50px;
    margin-left: 600px;
    font-size: 20px;
    z-index: 9999;
}

.support{
    display: flex;
    position: fixed;
    width: 70px;
    height: 70px;
    top: 730px;
    left: 1600px;
}

.notification{
    display: flex;
    position: fixed;
    width: 28px;
    height: 28px;
    top: 720px;
    left: 1590px;
}

@media (max-width: 767px) {
    .search-bar {
        margin-left: 15rem;
        width: 150px;
    }
}
@media (max-width: 675px) {
    .search-bar {
        margin-left: 10rem;
        width: 150px;
    }
}
@media (max-width: 571px) {
    .search-bar {
        margin-left: 9rem;
        width: 145px;
    }
}
@media (max-width: 480px) {
    .search-bar {
        margin-left: 6rem;
        width: 130px;
    }
}
@media (max-width: 400px) {
    .search-bar {
        margin-left: -8rem;
        width: 200px;
        height: 30px;
        margin-top: 70px;
    }
}