.section-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15rem;
    position: absolute;
    min-height: 88vh;
    width: 100%;
    padding: 2rem;
    /* border: 2px solid black;
    border-radius: 8px; */
    top: 19.5%;
    background-color: #ffffff;
}
@media (max-width: 767px) {
    .section-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.support{
    display: flex;
    position: fixed;
    width: 70px;
    height: 70px;
    top: 730px;
    left: 1600px;
}

.notification{
    display: flex;
    position: fixed;
    width: 28px;
    height: 28px;
    top: 720px;
    left: 1590px;
}

.search-bar{
    display: flex;
    position: fixed;
    margin-top: -115px;
    margin-left: 1050px;
    font-size: 20px;
    z-index: 1000;
}
@media (max-width: 767px){
    .search-bar{
        display: flex;
        position: fixed;
        margin-top: -2000px;
        margin-left: 0px;
        z-index: 9999;
    }
}